<div class="w-full flex justify-center">
  <form class="flex flex-col mt-20 w-fit p-5 gap-4 shadow rounded-2xl bg-black w-1/4">
    <h1>Login to your account</h1>
  
    <label for="email">Email</label>
    <input placeholder="Email" class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg" type="email" id="email" name="email" formControlName="email" (input)="handleChange($event)">
  
    <label for="password">Password</label>
    <input placeholder="Password" class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg" type="password" id="password" name="password" formControlName="password" (input)="handleChange($event)">


    <p>{{text}}</p>

    <button type="submit" (click)="login($event)" class="btn bg-amber-700">Login</button>

    <div class="flex justify-between text-white">
      <div (click)="handleContinueAsGuest()" class="cursor-pointer hover:text-amber-700">Continue as a guest</div>
      <a [routerLink]="['/register']" class="text-white cursor-pointer hover:text-amber-700">Register</a>
    </div>
  </form>
</div>