<div class="w-full flex justify-center">
  <form class="flex flex-col mt-5 w-fit p-5 gap-2 shadow rounded-2xl bg-black w-1/4" >
      <span>Sign Up with Your Email and Password</span>
      <label for="displayName">Display Name</label>
      <input placeholder="Display name" class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg" type="text" id="displayName" name="displayName" formControlName="displayName" (input)="handleChange($event)">
    
      <label for="email">Email</label>
      <input placeholder="Email" class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg" type="email" id="email" name="email" formControlName="email" (input)="handleChange($event)">
    
      <label for="password">Password</label>
      <input placeholder="Password" class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg" type="password" id="password" name="password"  formControlName="password" (input)="handleChange($event)">
    
      <label for="confirmPassword">Confirm Password</label>
      <input placeholder="Confirm Password"  class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg" type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" (input)="handleChange($event)">
      <p>{{text}}</p>

      <button type="submit" (click)="register($event)" class="btn mt-4 bg-amber-700">Sign Up</button>

      <div class="flex justify-between text-white">
        <div (click)="handleContinueAsGuest()" class="cursor-pointer hover:text-amber-700">Continue as a guest</div>
        <a [routerLink]="['/login']" class="text-white cursor-pointer hover:text-amber-700">Login</a>
      </div>
    </form>
  </div>
  